/* ページ全体 */

body {
  background-color: #0f1923;
}

/** ヘッダー */

.header__container {
  background-color: rgb(0, 0, 43);
  height: 70px;
}

.about__title {
  color: chartreuse;
}
.about__description {
  color: white;
}

.header__nav {
  width: 400px;
}

.nav-item {
}

/* メンバー */
.member-section .members {
}
.section-title {
  color: aqua;
}

.member {
}

.member__image img {
}

.member__name {
}
.member__name {
  color: white;
}

/* ゲーム */

/* お問い合わせ */
