/* ページ全体 */

body {
  background-color: black;
}

/** ヘッダー */

.header__container {
  background-color: rgb(0, 0, 44);
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.about__title {
  color: chartreuse;
}
.about__description {
  color: white;
}

.header__nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  justify-content: space-around;

  width: 200px;
}

.nav-item a {
  text-decoration: none;
  color: green;
}

/* メンバー */
.member-section {
  display: flex;
  background-color: white;
}
.member__image {
  align-content: flex-start;
}
.section-title {
  color: rgb(66, 255, 41);
}

.member {
  background-color: black;
}

.member__image img {
  width: 75%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.member__name {
}
.member__name {
  color: white;
  margin-left: 85px;
}

/* ゲーム */

/* お問い合わせ */
